In [1]:
import pandas as pd

In [2]:
# This code snippet is reading an Excel file named 'datos.xlsx' and loading all sheets into a dictionary called `sheets_dict`. The `sheet_name=None` parameter indicates that all sheets will be read.
sheets_dict = pd.read_excel('data/datos.xlsx', sheet_name = None)
df_list = []

for sheet_name, sheet_df in sheets_dict.items():
    sheet_df['Cliente'] = sheet_name
    df_list.append(sheet_df)

In [3]:
# Concatenando todos los df en uno solo
df = pd.concat(df_list, ignore_index=True)
print(df)

                     Fecha    Presion  Temperatura     Volumen    Cliente
0      2019-01-14 00:00:00  17.732563    28.209354   20.969751   CLIENTE1
1      2019-01-14 01:00:00  17.747776    28.518614   17.845739   CLIENTE1
2      2019-01-14 02:00:00  17.758916    28.230191   20.975914   CLIENTE1
3      2019-01-14 03:00:00  17.727940    27.811509   20.592299   CLIENTE1
4      2019-01-14 04:00:00  17.746484    27.795293   21.690626   CLIENTE1
...                    ...        ...          ...         ...        ...
847955 2023-12-31 19:00:00  15.751139    27.460652  204.457549  CLIENTE20
847956 2023-12-31 20:00:00  15.614858    27.010382  186.512096  CLIENTE20
847957 2023-12-31 21:00:00  15.598944    26.709100  204.456461  CLIENTE20
847958 2023-12-31 22:00:00  15.730040    27.266090  203.695596  CLIENTE20
847959 2023-12-31 23:00:00  15.624457    27.481288  201.534548  CLIENTE20

[847960 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847960 entries, 0 to 847959
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Fecha        847960 non-null  datetime64[ns]
 1   Presion      847960 non-null  float64
 2   Temperatura  847960 non-null  float64
 3   Volumen      847960 non-null  float64
 4   Cliente      847960 non-null  object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 32.3+ MB

In [5]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Fecha,847960,2021-07-08 22:08:19.659418112,2019-01-14 00:00:00,2020-04-13 23:00:00,2021-07-07 06:00:00,2022-10-06 02:15:00,2023-12-31 23:00:00,NaN
Presion,847960.0,16.072957,2.934873,17.09735,17.570449,17.694254,20.307852,4.186408
Temperatura,847960.0,25.198239,-5.257899,22.693027,25.379859,27.886244,50.019853,3.790497
Volumen,847960.0,62.328206,0.0,0.0,21.773567,99.319649,577.413425,80.498112